html{
    /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 1.6rem;
    color: #333;
    text-align: center;
    line-height: 1.5;
}
#main{
    margin: 30px 8px;
    padding: 15px;
    background-color: #eee;
    border-radius: 5px;
}
@media (max-width:460px){
    #main{
        margin: 0;
    }
}
h1{
    font-size: 4rem;
}
@media (max-width:460px){
    h1{
        font-size: 3.5rem;
        line-height: 1.2;
    }
}
.img-div{
    background-color: #fff;
    padding: 15px;
    margin: 0;
}
.img-caption{
    margin: 15px 0 5px 0;
}
@media(max-width:460px){
    .img-caption{
        font-size: 1.4rem;
    }
}
img{
    max-width: 100%; /*element should responsively resize, relative to the width of its parent element, without exceeding its original size*/
    display: block;
    height: auto;
    margin: 0 auto; /*The img element should be centered within its parent element..*/
}
.img-caption{
    padding: 10px;
}
#headline{
    margin: 50px 0;
    text-align: center;
}
ul{
    max-width: 550px;
    text-align: left;
    margin: 0 auto 50px auto;
    line-height:1.8;
}
li{
    margin: 16px 0;
}
blockquote{
    max-width: 545px;
    margin: 0 auto 50px auto;
    font-style: italic;
    text-align: left;
}